:root {
    --text: #fbf5ff;
    --background: #000000;
    --game-area: #440066;
    --logo: #f5e912;
    --button: #ff4864;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    font-family: Inconsolata, sans-serif;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header, logo and instructions button */

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.logo {
    color: var(--logo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 15px;
    line-height: 20px;
}

#instructions-btn {
    margin-right: 15px;
}

/* Instruction modal created following w3schools tutorial */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--game-area);
    margin: 15% auto;
    width: 90%;
    height: 45%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#close-btn {
    color: var(--text);
    font-size: 32px;
    align-self: flex-end;
}

#close-btn:hover {
    font-weight: bold;
    cursor: pointer;
}

/* Game stage */

#game-stage {
    height: 300px;
    width: 300px;
    background-color: var(--game-area);
    border-radius: 15px;
    box-shadow: 0 0 5px 1px;
}

.game-window {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.game-window p {
    padding: 0 15px;
    text-align: center;
}

.game-window h1 {
    color: var(--logo);
}

.welcome-heading {
    color: var(--text) !important;
}

#welcome input {
    width: 200px;
    height: 25px;
    font-weight: 600;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: var(--text);
    color: var(--game-area);
}

.btn {
    background-color: var(--button);
    color: var(--game-area);
    width: 150px;
    height: 50px;
    font-weight: 900;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    border: 2px solid var(--text);
}

.answer-btn {
    width: 80%;
    height: 50px;
    padding: 15px;
    text-align: left;
    background-color: var(--game-area);
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: 15px;
}

.answer-btn:hover {
    background-color: var(--text);
    color: var(--game-area);
}

.hidden {
    display: none !important;
}

/* Fotter */

footer {
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.copyright, .social-links, .social-links a {
    color: var(--text);
    padding: 5px;
}

.social-links a {
    text-decoration: none;
    font-size: 150%;
}

/* Media Queries */

@media screen and (min-width: 500px) {
    #game-stage {
        width: 60%;
        height: 450px;
    }
    
    .modal-content {
        width: 60%;
        margin-top: 5%;
    }
}

@media screen and (min-width: 1200px) {
    #game-stage {
        width: 45%;
        height: 450px;
    }

    footer {
        flex-direction: row;
    }
}